/* cursor */

*{
    cursor: url("../assets/cursors/fallout-nuka-cola-cursor.png"), auto;
}

*:active{
    cursor: url("../assets/cursors/fallout-nuka-cola-pointer.png"), auto;
}

/* fonts */

@font-face {
    font-family: 'overseer';
    src: url('../assets/fonts/overseer/Overseer.otf');
}

@font-face {
    font-family: 'overseer-bold-italic';
    src: url('../assets/fonts/overseer/Overseer\ Bold\ Italic.otf');
}

@font-face {
    font-family: 'overseer-italic';
    src: url('../assets/fonts/overseer/Overseer\ Italic.otf');
}

@font-face {
    font-family: 'brushscript';
    src: url('../assets/fonts/brush-script/BrushScriptOpti-Regular.otf');
}

@font-face {
    font-family: 'sierramadre-italic';
    src: url('../assets/fonts/sierra-madre/SierraMadreItalic-zGP4.ttf');
}

*:not(h1):not(h3) {
    font-size: 50px;
    font-family: 'overseer', serif;
}


/* body */

body{
    margin:25%;
    margin-top: 0;
    
    background-color:blanchedalmond;
    background-image: url("../assets/backgroungs/background-f03.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* header */

header{
    display: flex;
}

/* titres */

h1, h3{
    font-family: 'overseer-italic', serif;
    text-decoration: underline;
    color:#0066b1
}


h1{
    color:#001423;
    font-size: 120%;
}

h3{
    font-family: 'overseer', serif;
}

/* texts */


/* div */

div {
    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 20px;
    margin: 4%;
    background-color:#b9c5b8;
}

footer{
    color:white;
}

.parent{
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}
